global
    maxconn 2048

defaults
    mode http
    option forwardfor
    option http-server-close
    timeout connect 5s
    timeout client 60m
    timeout server 60m
    default-server init-addr none

resolvers docker_resolver
    nameserver dns 127.0.0.11:53

frontend http-in
    bind *:8080
    log global
    compression algo gzip

    acl is_backend path_beg -i /backend
    acl is_cia     path_beg -i /cia
    use_backend rest-backend-nodes if is_backend
    use_backend cia-nodes          if is_cia
    default_backend rest-backend-nodes

backend rest-backend-nodes
    mode http
    log global
    balance roundrobin
    option forwardfor
    http-request set-header X-Forwarded-Port %[dst_port]
    option httpchk GET /backend/ HTTP/1.1\r\nHost:\ haproxy01
    http-check expect ! rstatus ^5
    stats enable
    server rest-backend rest-backend:8091 check resolvers docker_resolver resolve-prefer ipv4

backend cia-nodes
    mode http
    log global
    balance roundrobin
    option forwardfor
    http-request set-header X-Forwarded-Port %[dst_port]
    option httpchk GET /cia/actuator/health HTTP/1.1\r\nHost:\ haproxy01
    http-check expect ! rstatus ^5
    server rest-lib-utils rest-lib-utils:8092 check resolvers docker_resolver resolve-prefer ipv4
